<svg class="footer--svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1200 120">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" fill="#475de6" />
</svg>

<footer class="footer">

    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation type="secondary"}}
        </div>
    </div>
            {{!-- <h2>Alec Di Vito</h2> --}}
            {{!-- <div class="footer--column footer--index">
            <ul class="footer__list">{externalLinks.map(s => <li key={s.id} class="footer__list__item"><SocialLink class="footer__list__item--social" invert {...s} /></li>)}</ul>
            </div>
            <div class="footer--column footer--index">
            <Title invert={true} variant="h4">Software Developer</Title>
            <Title invert={true} variant="h4" class="footer__email--mobile">
                <span class="footer__email">
                View my resume for my email
                </span>
            </Title>
            </div>
            <div class="footer--index footer__bottom">
            <div class="footer__bottom--head">{alecHead}</div>
            <p style={{ zIndex: 300 }}>Made with <span role="img" aria-label="love">❤️</span> by <a class="link--plain" href="https://val-z.com">Valeriia Zub</a> and <a class="link--plain" href="https://alecdivito.github.io">Alec Di Vito</a></p>
            </div> --}}
</footer>