/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--svg {
    transform: rotate(180deg);
}

.footer {
    z-index: 1;
    position: relative;
    background-color: #475DE6;
    color: #fafafa;
    padding-bottom: 5rem;
    padding-top: 4.5rem;
}

.footer--row {
    display: flex;
    flex-direction: column;
}

.footer--column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.footer--index {
    z-index: 200;
}

  .footer__bottom {
    position: relative;
    overflow: hidden;
    height: 110px;
    display: flex;
    align-items: flex-end;
  }

  .footer__bottom--head {
    position: absolute;
    bottom: -50px;
    left: 0px;
  }
  .footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .footer__list__item {
    margin-right: 2rem;
  }
  .footer__list__item:last-child {
    margin-right: 0rem;
  }
  .footer__list__item--social {
    grid-template-columns: 30px 1fr !important;
  }
  .footer__email {
    color: #fafafa;
  }
  @media (max-width: 768px) {
    .footer {
      margin-top: 0rem;
    }
    .footer--curve {
      position: absolute;
      top: -49px;
      right: 0px;
      left: 0px;
      z-index: 10;
    }
    .footer--curve svg {
      width: 100%;
      height: 50px;
    }
    .footer--column {
      flex-direction: column;
      align-items: unset;
    }
    .footer--column .title {
      margin-bottom: 1rem;
    }
    .footer__list {
      margin-top: 1.5rem;
      flex-direction: column;
    }
    .footer__list__item {
      margin-bottom: 1.5rem;
    }
    .footer__email--mobile {
      font-size: 1.25em;
    }
  }
  @media (min-width: 768px) {
    .footer__top {
      flex-direction: row;
    }
    .footer__top__about {
      width: 50%;
    }
    .footer__top__blog {
      width: 25%;
    }
    .footer__top__site {
      width: 25%;
    }
    .footer__bottom {
      flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      padding: 0rem 1rem;
    }
    .footer__bottom__copyright {
      line-height: 4rem;
    }
    .footer__bottom > * {
      width: 75%;
    }
  }
  


  .gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vmin 4vmin 4vmin;
}

.gh-foot .gh-container {
    width: auto;
}

.gh-foot a {
    color: inherit;
}

.gh-foot-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.8rem;
}

.gh-foot-menu .nav li {
    margin: 0 1.5vmin;
    padding: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    box-shadow: 0 -1px 0 0 currentcolor inset;
    color: var(--text-color-header);
}

.gh-foot-meta {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.75;
}

@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.6rem;
    }
}