.gh-pagination {
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 6rem 0rem 4rem;
}

.gh-pagination .pagination {
  display: flex;
  justify-content: space-between;

  border: 1px solid var(--border-color-pagination);
  border-radius: var(--border-radis-pagination);
  padding: 2rem;
  font-weight: 700;
}

.pagination .page-number {
  margin: 0 2rem;
  color: var(--text-color-section-title);
}
