.hero .gh-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.hero--curve {
  margin-top: -1px;
}

.gh-canvas .hero--post {
  grid-column: wide-start / wide-end;
}

.hero--post .hero__description {
  font-size: 1em;
  margin: 0.5rem 0rem 0.75rem 0rem;
}

#hero-word-rotation {
  display: inline-grid;
  position: relative;
  width: 80px;
  height: 24px;
  white-space: nowrap;
}

#hero-word-rotation > * {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  /* min-width: 250px; */
  animation-duration: 500ms;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  transition:
    visibility 0s 500ms,
    opacity 500ms linear;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
    width: 0px;
  }
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

.fadeOutUp {
  opacity: 1;
  animation-name: fadeOutUp;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--text-color-header);
  background-color: var(--primary-color);
  box-sizing: border-box;
  padding: 1rem 3rem;
}

.hero--container {
  width: 100%;
  display: flex;
  align-items: center;
}
.hero--flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.hero--z-index {
  z-index: 100;
}
.hero--content {
  width: 100%;
}
.hero--p0 {
  padding: 0px;
}
.hero__image {
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.hero__title {
  font-size: 3em;
  color: var(--text-color-header);
  hyphens: auto;
  overflow: hidden;
}
.hero__title--content {
}
.hero__title--emoji {
  vertical-align: middle;
}
.hero__description {
  font-size: 1.5em;
  color: var(--text-color-header);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.hero__date {
  margin: 0px;
  padding: 0px;
  color: var(--text-color-header);
  position: absolute;
  right: 30px;
}
.hero__link {
  padding-left: 2rem;
  font-size: 1.2em;
  color: var(--text-color-header);
}
.hero__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}
.hero__list__item {
  padding: 0px 0.25rem;
  margin-bottom: 1rem;
}
.hero__list__item:first-child {
  padding-left: 0rem;
}

@media (max-width: 900px) {
  .hero {
    min-height: 200px;
  }
  .hero__title--emoji {
    font-size: 1.5em;
  }
  .hero--flex {
    flex-direction: column;
  }
  .hero__link {
    padding-left: 0rem;
  }
  .hero__date {
    position: relative;
    right: 0px;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 200px;
    padding: 0px;
  }
  .hero__title--emoji {
    font-size: 1em;
  }
  .hero--children {
    display: none;
    visibility: hidden;
  }
  .hero--p0 {
    padding-left: 2rem;
  }

  .is-not-post .hero__image {
    display: none;
  }
}
@media (max-width: 480px) {
  #hero-word-rotation {
    text-align: center;
  }
  .hero--p0 {
    padding: unset;
  }

  .hero__body,
  .hero__title {
    margin-bottom: 1rem;
  }

  .hero--post .hero__description {
    display: none;
  }
}

/** These are all the edits need to make the home page work **/
.hero.is-home .hero__body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: var(--small);
  margin: auto;
  margin-bottom: 2rem;
}

.hero.is-home .hero__description {
  font-size: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #4d4d4d;
  margin: unset;
}

.hero.is-home .hero__image--ghost {
  width: 290px;
  height: 200px;
}

.is-not-post {
  padding: 5rem 0rem;
}
