.social-share--container {
  margin-top: 5rem;
}

.social-share {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  border-top: 1px solid var(--border-color-social-share);
  border-bottom: 1px solid var(--border-color-social-share);
}

.social-share__item {
  width: 100%;
  border: 1px solid var(--border-color-social-share);
  display: flex;
  justify-content: center;
  margin: 0rem 1rem;
  padding: 1rem;
  border-radius: var(--border-radis-card);
  background: var(--background-color-social-share);
  cursor: pointer;
}

.social-share__item:first-child {
  margin-left: 0rem;
  margin-right: 1rem;
}

.social-share__item:last-child {
  margin-left: 1rem;
  margin-right: 0rem;
}

.social-share button.social-share__item {
  position: relative;
}

.social-share__item:hover {
  background-color: var(--background-color-hover-social-share);
  color: var(--color-base);
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 16px;
  font-size: 12px;
  border-radius: var(--border-radis-card);
  white-space: nowrap;
  z-index: 100;
  transform: translateX(-50%);
  bottom: 130%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

@media (max-width: 480px) {
  .social-share__item,
  .social-share__item:first-child,
  .social-share__item:last-child {
    margin: 0;
    border-radius: 0;
    border-right-width: 0;
  }

  .social-share__item:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .social-share__item:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right-width: 1px;
  }
}
