.article_tags {
  display: flex;
  flex-direction: row;
}

.article_tags a:hover {
  border-bottom: 1px solid black;
}

.article_tags .tag {
  display: block;
  margin-right: 0.25rem;
  color: var(--color-accent);
  display: inline-flex;
  font-size: 0.9em;
  font-weight: 600;
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
}

.article_tags .tag::before {
  align-self: center;
  background-color: var(--color-accent);
  content: '';
  height: 1px;
  margin-right: var(--gap-sm);
  width: 20px;
}

@media (max-width: 480px) {
  .article_tags {
    margin: 1rem 0rem;
  }

  .article_tags * {
    margin-right: 0.5rem;
  }
}
