.widget {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.widget--link {
  height: 100%;
}

.widget--img-container {
  position: relative;
}

.widget__image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 100%;
  max-height: 180px;
  object-fit: cover;
}

.widget__notifications {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.widget__notifications .widget__access,
.widget__notifications .widget__featured {
  position: unset;
}

.widget__access {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-reverse);
  color: var(--color-text-reverse);
  padding: 8px;
  border-radius: 6px;
}

.widget__access .icon {
  margin-right: 1rem;
}

.widget__featured {
  position: absolute;
  top: calc(2rem + 8px);
  right: calc(2rem + 8px);
  color: var(--color-gold);
}

.widget__featured .icon {
  fill: var(--color-gold);
}

.widget__body {
  position: relative;
  padding: 1.6rem;
  height: 100%;
}

/* Tags  */

.widget__tags .tag {
  display: block;
  margin-right: 0.25rem;

  color: var(--color-accent);
  display: inline-flex;
  font-size: 0.9em;
  font-weight: 600;
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
}

.widget__content {
  /* Because author is absolute, we need to add padding so it doesn't overlap */
  margin-bottom: 52px;
}

.widget__title {
  font-size: 1.4em;
}

.widget__author {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: inherit;
  display: flex;
  margin-top: var(--gap);
  width: 100%;
}

.widget__title a {
  text-decoration: none;
}
.widget__title--link {
  display: flex;
  flex-direction: column-reverse;
}

.widget__description {
  margin: 1rem 0rem;
}

@media (max-width: 480px) {
  .widget {
    margin: 0rem 0rem 3rem;
  }
  .widget__title * {
    margin: 0rem;
  }
  .widget__title--logo,
  .widget__title--status {
    visibility: hidden;
    display: none;
  }
  .widget__subTitle {
    margin: 1rem 0rem;
  }

  .widget__header {
    flex-direction: column;
    align-items: unset;
  }
}
